.TT{color: #f8d8ea;}
.UU{color: #f9a8a8;}
.II{color: #9fc7f5;}
.OO{color: #ea6ec7;}
.PP{color: #f772a1;}
.QQ{color: #5aa7e2;}
.WW{background-color: #f772a1;}
.EE{color: #bbfbbe;}
.RR{background-color: aquamarine;}
.YY{color: #c5e3ac;}
.AA{background-color: antiquewhite;}
.SS{color: #b7eee3;}
.DD{color: #efe5af;}
.FF{background-color: #ea6ec7;}
.GG{background-color: #f8d8ea;}
.HH{color: #e5c5f1;}
.JJ{color: #c6f8cf;}
.KK{color: #8b7bf0;}
.LL{background-color: #b7eee3;}
.ZZ{background-color: #c5e3ac;}
.XX{color: #a473ee;}
.CC{background-color: #e2b7f3;}
.VV{background-color: #e5c5f1;}
.BB{color: #ead77f;}
.NN{background-color: #f8eec5;}
.MM{background-color: #e4ecae;}
.Q{color: #82c7ff;}
.W{color: #f6ebc7;}
.E{color: #d5f6d7;}
.R{color: #f2cefb;}
.T{color: #83d6e9;}
.Y{color: #f4cd7f;}
.U{color: #a0f79b;}